*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header-nav{
    width: 80%;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    box-shadow: 0 2px rgb(196, 194, 194);
}
 .header-nav #bars{
    display: none;
}
.logo i{
    font-size: 2em;
    color: #0F4229;
    padding-top: 15px;
    margin-left: 30px;
}
.logo h1{
    font-size: 1em;
    color: #0F4229;
   
}
.header-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 28px;
    font-size: 1.2em;
    color: #0F4229;
}
 ul li:hover{
    color: green;
    cursor: pointer;
}
.header-nav button{
    padding: 10px 30px;
    background-color: #0F4229;
    border-radius: 10px;
    border: none;
    margin-top: 17px;
    color: white;
    font-size: 1.1em;
}
#login{
    background-color: transparent;
    border: 2px solid #0F4229;
    color: green;
}

.bg1{
    width: 100%;
    height: 450px;
    margin-top: -8px;
    background-image: linear-gradient(rgba(63, 127, 63, 0.3)),url(/Imgs/About.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    position: relative;
} 
.center{
    text-align: center;
    padding-top: 120px;
    color: white;
}
#h1-cntr{
    color: white;
    font-size: 3.1em;
}
 #pr1{
    color: rgb(231, 228, 228);
    font-size: 15px;
 }

/* section two */

.parent{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 90px;
    margin-left: 50px;
}

.l-parent{
    width: 20%;
}

.l-parent img{
    width: 270px;
    height: 400px;
    border-radius: 10px;
}

.c-parent{
    width: 48%;
    margin-left: 80px;
}

.c-parent #no{
 font-size: 4.3em;
 color:rgba(82,159,86) ;
}

.c-parent p{
    color:rgba(82,159,86) ;
    font-weight: 100;
}

.c-parent h1{
    padding-top: 20px;
    color:rgba(15,66,41) ;
    font-weight: bolder;
    font-size: 2.8em;
}

.c-parent #pdown{
  color: black;
  font-size: small;
  font-weight: lighter;
  padding-top:12px ;
}

.c-parent button{
    padding: 15px 20px;
    color: white;
    background-color:rgba(82,159,86) ;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.2em;
}

.r-parent{
    width: 20%;
    padding-top:20px ;
    margin-left: -20px;
}

.part-one{
    border-left: solid 1px rgb(231, 231, 231);
    padding-bottom: 30px;
}
.part-one i{
    color:rgba(82,159,86) ;
    font-size: 2em;
    padding-left: 10px;
}

.part-one h4{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
}

.part-one p{
    padding-top: 15px;
    padding-left:10px;
    font-size: medium;
    font-weight: lighter;
}

.part-two{
    border-left: solid 1px rgb(231, 231, 231);
    padding-top: 30px;
    
}
.part-two i{
    color:rgba(82,159,86) ;
    font-size: 2em;
    padding-left: 10px;
}

.part-two h4{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
}

.part-two p{
    padding-top: 15px;
    padding-left:10px;
    font-size: medium;
    font-weight: lighter;
}
/* section three */
.center{
    text-align: center;
    margin-top: 20px;   
}

.center h1{
    color:#529F56 ;
    font-size: 1.9em;
    font-weight: bold;
}

.center h2{
    font-size: 2em;
    color:rgba(15,66,41) ;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin-bottom: 10%;
}

 /* green box */
 .gren-box{
    width: 490px;
    height: 200px;
    background-color: #529F56;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    top: -65%;
    display: flex;
    justify-content: space-around;
 }
 .box-conten{
    margin-top: 50px;
    text-align: center;
    color: white;
 }
.box-conten i{
    font-size: 2em;
    margin-bottom: 10px;
}

.con-box1{
  width: 600px;
  height: 250px;
   background-color:rgb(235, 235, 235) ;
   margin-left: 26%;
   margin-top: 20%;
   margin-bottom: 10px;  
   border-radius: 20px;
   position: relative;
}

.iandv{
    text-align: center;
    padding-top: 90px;
    margin-left: 20px;
}

.iandv i{
    font-size: 1.5em;
    margin-left: -40%;
   
}
.iandv h4{
    margin-top: -25px;
    font-size: 1.3em;
}

.iandv p{
    font-size: small;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
}

.con-box1{
    display: flex;
}
/* section four */
.team-section {
    padding: 80px 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
.section-header {
    text-align: center;
    margin-bottom: 50px;
}
.section-header .sub-title {
    font-size: 20px;
    color: #145317;
    font-weight: bold;
}
.section-header .main-title {
    font-size: 40px;
    font-weight: 700;
}
.team-row {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}
.team-item {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #f8f9fa;
    transition: 0.3s ease;
    cursor: pointer;
}
.team-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}
.team-item img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    transition: 0.4s ease;
}
.team-item:hover img {
    filter: brightness(60%);
    transform: scale(1.06);
}
.team-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 25px 0px;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    text-align: center;
    transition: 0.4s ease;
}
.team-item:hover .team-text {
    bottom: 0;
}
.team-text h4 {
    font-size: 22px;
    margin-bottom: 5px;
    color: #fff;
}
.team-text p {
    margin-bottom: 15px;
    color: #145317;
    font-weight: 500;
}

.team-social a {
    width: 35px;
    height: 35px;
    background: #0d6efd;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.3s ease;
    font-size: 15px;   
}

.team-social a:hover {
    background: #0a53be;
}

/* footer section */
.footer{
    width: 100%;
    height: 300px;
    background-color: #0F4229;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.sec1 h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.social-icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.social-icon i{
    color: white;
    font-size: 1.4em;  
}
.social-icon p{
    color: white;
    font-size: 1em;
}
.platform{
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 40px;
}
.platform i{
    font-size: 1.4em;
}

.service h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.service ul li{
    list-style: none;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.links h2{
    color: white;
    font-size: 2.1em;
    margin-bottom: 20px;
}
.links ul li{
    list-style: none;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 60px;
}

