*{
    padding: 0;
    margin: 0;
}
/* section-1 */



.header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    /* margin-left: 120px; */
    margin-top: 40px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
}

 .bg1{
    margin-top: -40px;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(73, 90, 67, 0.201)),url(/bg-baoutUs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    position: relative;
} 

.logo{
    display: flex;
    justify-content: space-between;

}

.logo h1{
  font-size: 3em;
  color:rgba(15,66,41) ;
  padding-top: 20px;
  padding-left: 20px;
}

.logo ul{
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    gap: 50px;
    list-style: none;
    font-size: 1.3em;
}

.btn button{
    padding: 10px 20px;
    margin-top: 35px;
    margin-right: 30px;
    color: white;
    background-color: rgba(82,159,86);
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
}

.btn #login{
     padding: 10px 20px;
    margin-top: 35px;
    margin-right: 30px;
    color:rgba(82,159,86);
    background-color:transparent;
    border-radius: 10px;
    border: solid 1px rgba(82,159,86) ;
    font-size: 0.9em; 
    font-weight: bold;
}
  

.cntr{
    text-align: center;
    padding-top: 120px;
    color: white;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.undr-cntr{
    display: flex;
    font-size: 0.29em;
    padding-left: 500px;
    padding-top: 3px;
    gap: 18px;
}

/* section-2 */

.parent{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 30px;
    margin-left: 50px;
}

.l-parent{
    width: 20%;
}

.l-parent img{
    width: 240px;
    height: 400px;
    border-radius: 10px;
}

.c-parent{
    width: 48%;
    margin-left: 40px;
}

.c-parent #no{
 font-size: 4.3em;
 /* font-weight: bolder; */
 font-family: Arial, Helvetica, sans-serif;
 color:rgba(82,159,86) ;
}

.c-parent p{
    color:rgba(82,159,86) ;
    font-weight: 100;
}

.c-parent h1{
    padding-top: 20px;
    color:rgba(15,66,41) ;
    font-weight: bolder;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 2.8em;
}

.c-parent #pdown{
  color: black;
  font-size: small;
  font-weight: lighter;
  padding-top:12px ;
}

.c-parent button{
    padding: 15px 20px;
    color: white;
    background-color:rgba(82,159,86) ;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.2em;

}

.r-parent{
    width: 20%;
    padding-top:50px ;
    padding-left: 60px;
}

.part-one{
    border-left: solid 1px rgb(231, 231, 231);
    padding-bottom: 30px;
}
.part-one i{
    color:rgba(82,159,86) ;
    font-size: 2em;
    padding-left: 10px;
}

.part-one h4{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.part-one p{
    padding-top: 15px;
    padding-left:10px;
    font-size: medium;
    font-weight: lighter;
}

.part-two{
    border-left: solid 1px rgb(231, 231, 231);
    padding-top: 30px;
    
}
.part-two i{
    color:rgba(82,159,86) ;
    font-size: 2em;
    padding-left: 10px;
}

.part-two h4{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.part-two p{
    padding-top: 15px;
    padding-left:10px;
    font-size: medium;
    font-weight: lighter;
}

/* section-3 */

.center{
    text-align: center;
    margin-top: 60px;
    
}

.center p{
    color:rgba(82,159,86) ;
    font-size: 1.5em;
    font-weight: bold;
}

.center h2{
    font-size: 2em;
    color:rgba(15,66,41) ;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}

.container{
position: absolute;
margin-left: 50px;
}

.con-box{
    width: 490px;
    height: 200px;
    background-color:rgba(82,159,86) ;
   margin-left: 325px;
   margin-top: 90px;
   margin-bottom: 10px;
   border-radius: 10px;
   position: relative;

}

.con-box1{
  width: 600px;
    height: 250px;
    background-color:rgb(235, 235, 235) ;
   margin-left: 267px;
   margin-top: -50px;
   margin-bottom: 10px;  
   border-radius: 10px;
}

.con-box i{
    color: white;
    font-size: 1.8em;
    padding-top: 40px;
    padding-left: 30px;
}

.con-box p{
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.iconandp2{
    margin-left: 380px;
    margin-top: -190px;
}

.iconandp2 #ikonup{
    margin-left: -90px;
}

.iconandp2 #ikonup2{
   margin-left: -180px;
    /* margin-top: -190px; */
} 

.iandv{
    text-align: center;
    padding-top: 90px;
    margin-left: 30px;
}

.iandv i{
    font-size: 1.2em;
    margin-left: -90px;
}
.iandv h4{
    margin-top: -20px;
}

.iandv p{
    font-size: small;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
}

.con-box1{
    display: flex;
}

/* section-4 */

.title{
    text-align: center;
    margin-top: 600px;
}

.title p{
   color:rgba(82,159,86) ;
    font-size: 1.5em;
    font-weight: bold;
} 

.title h1{
     font-size: 2em;
    color:rgba(15,66,41) ;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px; 
}

.main{
    position: relative;
}

.main{
    display: flex;
    
}

.menu{
    width: 380px;
    height: 500px;
    /* background-color: black; */
    margin: 20px;
    border-radius: 10px;
    background-image: url(/Aisha\ Mohamed1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.postn{
    width: 320px;
    height: 140px;
    background-color: rgb(245, 245, 245);
    position: absolute;
    bottom: 40px;
}


.postn h3{
    margin-top: 20px;
    padding-left: 20px;
    color: rgba(15,66,41);
}

.postn p{
    margin-top: 5px;
    padding-left: 20px;
    color: rgba(82,159,86);
    font-weight: lighter;
}

.postn i{
 margin-top: 10px;
    padding-left: 6px;
    font-size: 1.4em;  
    color:rgba(82,159,86); 
}

.wadar{
    display: flex;
}

.ikn{
    width: 40px;
    height: 40px;
    background-color: rgb(196, 239, 199);
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.ikon2{
    width: 40px;
    height: 40px;
    background-color: rgb(196, 239, 199);
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.ikon3{
  width: 40px;
    height: 40px;
    background-color: rgb(196, 239, 199);
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;  
}

/* section-5 */
/* footer */

.container-footer{
    width: 100%;
    height: 400px;
    background-color: rgba(15,66,41);
    /* margin-bottom: 1rem; */
}

.footer{
    display: flex;
}

.footer-l{
    margin-left: 50px;
    padding-top: 80px;
}

.footer-l p{
 font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-l h2{
    color: white;
    padding-left: 3px;
    font-size: 2em;
}

.iconandpra{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

.footer-c{
    margin-left: 190px;
    padding-top: 80px;
}

.footer-c i{
    font-size: 0.7em;
}

.footer-c p{
    font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-c h2{
  color: white;
    /* padding-left: 3px; */
    font-size: 2em;  
}

.iand-pra2{
    display: flex;
    margin-left: -5px;
      padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}

.footer-r p{
 font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-r{
    margin-left: 200px;
    padding-top: 80px; 
}

.footer-r h2{
   color: white;
    /* padding-left: 3px; */
    font-size: 2em; 
    margin-bottom: 10px; 
}

.footer-r a{
    text-decoration: none;
    color: white;
}

.footer-r i{
    font-size: 0.7em;
    /* padding-top: 2px; */
}












