*{
    padding: 0;
    margin: 0;
}
/* section-1 */



.header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    /* margin-left: 120px; */
    margin-top: 40px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
}

 .bg1{
    margin-top: -40px;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(73, 90, 67, 0.201)),url(/bg-baoutUs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    position: relative;
} 

.logo{
    display: flex;
    justify-content: space-between;

}

.logo h1{
  font-size: 3em;
  color:rgba(15,66,41) ;
  padding-top: 20px;
  padding-left: 20px;
}

.logo ul{
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    gap: 50px;
    list-style: none;
    font-size: 1.3em;
}

.btn button{
    padding: 10px 20px;
    margin-top: 35px;
    margin-right: 30px;
    color: white;
    background-color: rgba(82,159,86);
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
}

.btn #login{
     padding: 10px 20px;
    margin-top: 35px;
    margin-right: 30px;
    color:rgba(82,159,86);
    background-color:transparent;
    border-radius: 10px;
    border: solid 1px rgba(82,159,86) ;
    font-size: 0.9em; 
    font-weight: bold;
}
  

.cntr{
    text-align: center;
    padding-top: 120px;
    color: white;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.undr-cntr{
    display: flex;
    font-size: 0.29em;
    padding-left: 500px;
    padding-top: 3px;
    gap: 18px;
}

/* section-2 */

.bg2{
    background-color: rgba(253 253 253);
    height: 90vh;
}
.our-ser{
    text-align: center;
    padding-top: 120px;
}

.our-ser p{
      color:rgba(82,159,86) ;
    font-weight: bold;
    font-size: 1.3em;
}

.our-ser h1{
      color:rgba(15,66,41) ;
    font-weight: bolder;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 2.8em;
}

/* section-3 */

.container{
    width: 25%;
    height: 380px;
    background-color: rgb(255 255 255);
    margin: 2%;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 7px;
}

.container:hover{
    background-image: linear-gradient(rgba(73, 90, 67, 0.201)),url(/landscaping\ pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    
}
    
 
.ikon i{
    width: 50px;
    height: 50px;
    background-color: rgb(196, 239, 199);
    border-radius: 50%;
    margin-left: 120px;
    padding-top: 5px;
    font-size: 2.5em;
    color:rgba(82,159,86) ;
    margin-top: 60px;
    margin-bottom: 20px;
    
}

.ikon2 i{
     width: 270px;
    height: 100px;
    background-color: rgb(196, 239, 199);
    border-radius: 50%;
    margin-left: 120px;
    padding-top: 5px;
    font-size: 2.5em;
    color:rgba(82,159,86) ;
    margin-top: 60px;
    margin-bottom: 20px;
}


.container h4{
      color:rgba(15,66,41) ;
    font-weight: lighter;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 1.5em;
 margin-left: 30px;
 padding-top: 20px;
}

.container:hover h4{
    color: white;
}

.container p{
    color: rgb(112, 112, 112);
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.1em;
}

.container:hover p{
    color: white;
}

    
.container .fa-solid {
    width: 25px;
    height: 20px;
    background-color:rgb(196, 239, 199) ;
    padding-top: 5px;
    border-radius: 3px;
    color:rgba(82,159,86) ;

}

.container:hover button{
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 7px 25px;

}

.container button{
    padding: 0px 0px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: rgb(232,245,233);
    color: rgba(15,66,41);
    border-radius: 7px;
    
}

.side{
    display: flex;
    flex-direction: row;
    /* margin-bottom: 10px; */
    margin-left: 90px;

}
.side2{
    display: flex;
    flex-direction: row;
     /* margin-left: 90px;
    margin-right: 90px; */
}

/* section-4 */
.con-footer{
    width: 100%;
    height: 400px;
    background-color: rgba(15,66,41);
    margin-top: 480px;
}

.footer{
    display: flex;
}

.footer-l{
    margin-left: 50px;
    padding-top: 80px;
}

.footer-l p{
 font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-l h2{
    color: white;
    padding-left: 3px;
    font-size: 2em;
}

.iconandpra{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

.footer-c{
    margin-left: 190px;
    padding-top: 80px;
}

.footer-c i{
    font-size: 0.7em;
}

.footer-c p{
    font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-c h2{
  color: white;
    /* padding-left: 3px; */
    font-size: 2em;  
    padding-bottom: 10px;
}

.iand-pra2{
    display: flex;
    margin-left: -5px;
      padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}

.footer-r p{
 font-size: 1.2em;
 padding-left: 13px;
 margin-top: -5px;
}

.footer-r{
    margin-left: 200px;
    padding-top: 80px; 
}

.footer-r h2{
   color: white;
    /* padding-left: 3px; */
    font-size: 2em; 
    margin-bottom: 10px; 
}

.footer-r a{
    text-decoration: none;
    color: white;
}

.footer-r i{
    font-size: 0.7em;
    /* padding-top: 2px; */
}



    



